<h2>Edit <%= current_user.nickname %></h2>

<%= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :name,
                placeholder: "Your name here",
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "BoB" } %>
    <%= f.input :nickname,
                placeholder: "Your nickname here",
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "DJ BoB" } %>
    <%= f.select :role, ['Artist', 'Venue']%>
    <%= f.input :address,
                placeholder: "Your address info here",
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "Berlino" } %>
    <%= f.input :rider,
                placeholder: "Your rider info here",
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "paracetamol" } %>
    <%= f.input :details,
                placeholder: "Your details here",
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "I need a lot of water and a spoon" } %>
    <%= f.input :password,
                placeholder: "Your password here",
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                placeholder: "Your password again here",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                placeholder: "Current password here",
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Update", class: "button btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", user_registration_path, data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
