
<%= month_calendar(events: @events, attribute: :date) do |date, events| %>
  <%= date.day %>
    <% events.each do |event| %>
      <%= link_to event_path(event) do %>
        <div class="event">
              <p class=""><%= event.name %></p>
              <p><%= event.performers %></p>
        </div>
      <% end %>
  <% end %>
<% end %>
