<%= month_calendar(events: @events, attribute: :date) do |date, events| %>
  <%= date.day %>
    <% events.each do |event| %>
      <% count = event.messages.where("read = false AND user_id != #{current_user.id}").count %>
      <% notification = count > 0 ? 'notification' : '' %>
      <%= link_to event_path(event) do %>
        <div class="event">
          <p class="<%= notification %>"><%= event.name %></p>
          <p><%= event.performers %></p>
        </div>
      <% end %>
  <% end %>
<% end %>
