<div class="chatroom" data-controller="chatroom">
  <div class="messages"
        data-controller="event-subscription"
        data-event-subscription-event-id-value="<%= @event.id %>"
        data-chatroom-target="messages">
    <% @event.messages.reverse.each do |message| %>
      <%# viewName = message.user == current_user %>
      <%= render :partial => 'messages/message', :locals => { message: message } %>
    <% end %>

  <%# WHY CAN'T I PASS viewName as variable? %>
  </div>

  <%= simple_form_for([@event, @message], remote: true, data: { chatroom_target: 'formSubmit', action: 'submit->chatroom#submit' }) do |f| %>
    <%= f.input :content,  label: false,  placeholder: "Message ##{@event.name}", autofocus: true %>
    <%= f.submit 'Send', class: "btn-primary form-send" %>
  <% end %>
</div>


<%# another script to listen to load? and scroll to bottom %>
