<div class="chatroom">
  <div class="messages"
        data-controller="event-subscription"
        data-event-subscription-event-id-value="<%= @event.id %>"
        data-chatroom-target="messages">
    <% @event.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>


  </div>

  <%= simple_form_for [@event, @message], remote: true do |f| %>
    <%= f.input :content,  label: false,  placeholder: "Message ##{@event.name}" %>
    <%= f.submit 'Send', class: "btn-primary form-send" %>
  <% end %>
</div>
