<div class="navbar-container sticky">
  <% if user_signed_in? %>
    <div class = "avatar">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, height: 40, width: 40, crop: :fill %>
      <% else %>
        <%= image_tag "https://thumbs.dreamstime.com/b/icono-de-avatar-dj-estilo-simple-vectorial-para-dise%C3%B1o-web-aislado-en-fondo-blanco-164370922.jpg", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, height: 40, width: 40, crop: :fill %>
      <% end %>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
        <%= link_to "Invitations", dashboards_path, class: "dropdown-item" %>
        <%= link_to "edit profile", edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% end %>

  <div class="wrapper search_items" data-controller="search">
    <div class="search_bar">
      <%= form_tag events_path, method: :get, data: { search_target: 'searchForm' } do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search an event",
          data: { search_target: 'search' }
        %>
        <%= submit_tag "Search",data: { search_target: 'submit' }, class: "search_btn btn-primary" %>
      <% end %>
    </div>
    <i class="fas fa-search search-icon" data-search-target="open"  data-action="click->search#openSearch"></i>

  </div>
</div>
