<div class = "event_pic justify-content-center">
  <% if @event.photo.attached? %>
    <%= cl_image_tag @event.photo.key, height: 200, width: 150, crop: :fill %>
  <% else %>
    <%= image_tag "https://www.squeaker.net/image/event/event-placeholder-list.png", height: 150, width: 250, crop: :fill %>
  <% end %>
</div>

<div class="details">
  <h6><%= @event.date %></h6>
  <h6><%= @event.address %></h6>
</div>

<div class="map" style="width: 100%; height: 150px;"
data-controller="mapbox"
data-mapbox-markers-value="<%= @markers.to_json %>"
data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div id="accordion">
  <div class="invitation">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          INVITATION
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <%= simple_form_for [@event, @invitation] do |f| %>
          <%= f.text_field :user_id, label: 'Who are you looking for?' %>
          <%= f.input :content, placeholder: 'text' %>
          <%= f.submit "invite" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class ="options">
  <h5><%= link_to 'edit', edit_event_path %></h5>
  <h5><%= link_to "delete", event_path(@event), method: :delete, data: {confirm: "Are you sure?"} %></h5>
</div>
