<div class= "event-show" >
  <div class= "slider mb-4">
    <div data-controller="overview">
      <div class= "hidden" data-overview-target="close" data-action="click->overview#close">X</div>
      <div data-overview-target="tab" data-action="click->overview#open">
        <h1><%= @event.name %><h1>
        <div class = "overview hidden" data-overview-target="content" >
          <%= render 'shared/overview-venue', :locals => { :event => @event } %>
      </div>
    </div>
  </div>
</div>

  <div class="wrapper" data-controller="chat">
    <div class="close-btn mt-2 hidden" data-chat-target="close" data-action="click->chat#close">X</div>
    <div class="tab" data-chat-target="tab" data-action="click->chat#open">
      <h3>Chat</h3>
      <span><%= @event.user.name %> & <%= current_user.name %> </span>
      <div class = "chat hidden" data-chat-target="content" >
        <%= render 'shared/chat', :locals => { :event => @event, :invitation => @invitation, :message => @message } %>
      </div>
    </div>
  </div>

<% unless @event.performers.nil? ||  @event.performers.empty?  %>
  <div class="wrapper" data-controller="performers">
    <div class="close-btn mt-2 hidden" data-performers-target="close" data-action="click->performers#close">X</div>
    <div class="tab" data-performers-target="tab" data-action="click->performers#open">
      <div class="d-flex justify-content-between">
        <h3>Performers</h3>
      </div>
      <div class = "performers hidden" data-performers-target="content" >
        <%= render 'shared/performers', :locals => { :event => @event } %>
      </div>
    </div>
  </div>
<% end %>

<% unless @event.rider.nil? ||  @event.rider.empty?  %>
  <div class="wrapper" data-controller="rider">
    <div class="close-btn mt-2 hidden" data-rider-target="close" data-action="click->rider#close">X</div>
    <div class="tab" data-rider-target="tab" data-action="click->rider#open">
      <div class="d-flex justify-content-between">
        <h3>Rider</h3>
      </div>
      <div class = "rider hidden" data-rider-target="content" >
        <%= render 'shared/rider', :locals => { :event => @event } %>
      </div>
    </div>
  </div>
<% end %>
