<div class= "event-show" >
  <div class="head-calendar">
    <div class= "slider mb-4">
      <div data-controller="overview">
        <div class= "hidden" data-overview-target="close" data-action="click->overview#close">X</div>
        <div data-overview-target="tab" data-action="click->overview#open">
          <h1><%= @event.name %><h1>
          <div class = "overview hidden" data-overview-target="content" >
            <%= render 'shared/overview-artist', :locals => { :event => @event } %>
        </div>
      </div>
    </div>
  </div>
</div>

  <% count = @event.messages.where("read = false AND user_id != #{current_user.id}").count %>
  <% notification = count > 0 ? 'notification' : '' %>
  <div class="wrapper" data-controller="chat">
    <div class="close-btn mt-2 hidden" data-chat-target="close" data-action="click->chat#close">X</div>
     <div class="tab <%= notification %>" data-chat-target="tab" data-action="click->chat#open">
      <h3>Chat</h3>
      <span><%= @event.user.name %><%= @event.invitations.count > 0 ? " & #{@event.invitations[0].user.name}" : '' %> </span>
      <div class = "chat hidden" data-chat-target="content" >
        <%= render 'shared/chat', :locals => { :event => @event, :invitation => @invitation, :message => @message } %>
      </div>
    </div>
  </div>

<% unless @event.travel.nil? ||  @event.travel.empty? %>
  <div class="wrapper" data-controller="flight">
    <div class="close-btn mt-2 hidden" data-flight-target="close" data-action="click->flight#close">X</div>
    <div class="tab" data-flight-target="tab" data-action="click->flight#open">
      <div class="d-flex justify-content-between">
        <h3>Travel</h3>
      </div>
      <div class = "flight hidden" data-flight-target="content" >
        <%= render 'shared/flight', :locals => { :event => @event } %>
      </div>
    </div>
  </div>
<% end %>

<% unless @event.accomodation.nil? ||  @event.accomodation.empty?  %>
  <div class="wrapper" data-controller="hotel">
    <div class="close-btn mt-2 hidden" data-hotel-target="close" data-action="click->hotel#close">X</div>
    <div class="tab" data-hotel-target="tab" data-action="click->hotel#open">
      <div class="d-flex justify-content-between">
        <h3>Accomodation</h3>
      </div>
      <div class = "hotel hidden" data-hotel-target="content" >
        <%= render 'shared/hotel', :locals => { :event => @event } %>
      </div>
    </div>
  </div>
<% end %>

<% unless @event.driver.nil? ||  @event.driver.empty?  %>
  <div class="wrapper" data-controller="driver">
    <div class="close-btn mt-2 hidden" data-driver-target="close" data-action="click->driver#close">X</div>
    <div class="tab" data-driver-target="tab" data-action="click->driver#open">
      <div class="d-flex justify-content-between">
        <h3>Driver</h3>
      </div>
      <div class = "driver hidden" data-driver-target="content" >
        <%= render 'shared/driver', :locals => { :event => @event } %>
      </div>
    </div>
  </div>
<% end %>

<% unless @event.food.nil? ||  @event.food.empty?  %>
  <div class="wrapper" data-controller="food">
    <div class="close-btn mt-2 hidden" data-food-target="close" data-action="click->food#close">X</div>
    <div class="tab" data-food-target="tab" data-action="click->food#open">
      <div class="d-flex justify-content-between">
        <h3>Food</h3>
      </div>
      <div class = "food hidden" data-food-target="content" >
        <%= render 'shared/food', :locals => { :event => @event } %>
      </div>
    </div>
  </div>
<% end %>

<% unless @event.rider.nil? ||  @event.rider.empty?  %>
  <div class="wrapper" data-controller="rider">
    <div class="close-btn mt-2 hidden" data-rider-target="close" data-action="click->rider#close">X</div>
    <div class="tab" data-rider-target="tab" data-action="click->rider#open">
      <div class="d-flex justify-content-between">
        <h3>Rider</h3>
      </div>
      <div class = "rider hidden" data-rider-target="content" >
        <%= render 'shared/rider', :locals => { :event => @event } %>
      </div>
    </div>
  </div>
<% end %>


<% unless @event.technician.nil? ||  @event.technician.empty?  %>
  <div class="wrapper" data-controller="technician">
    <div class="close-btn mt-2 hidden" data-technician-target="close" data-action="click->technician#close">X</div>
    <div class="tab" data-technician-target="tab" data-action="click->technician#open">
      <div class="d-flex justify-content-between">
        <h3>Technician</h3>
      </div>
      <div class = "technician hidden" data-technician-target="content" >
        <%= render 'shared/technician', :locals => { :event => @event } %>
      </div>
    </div>
  </div>
<% end %>
