<div class="container">
  <div>
    <div>
      <h1><%= @event.date %></h1>
      <p><%= @event.address %></p>
    </div>
    <div>
      <h1><%= @event.name %><h1>
    </div>
  </div>

  <hr>

  <%= link_to 'edit', edit_event_path %>
  <br>
  <%= link_to "delete", event_path(@event), method: :delete, data: {confirm: "Are you sure?"} %>
  <br>
  <%= link_to 'back', events_path %>
  <hr>

  <%# Write a simple form that creates an invitation, and has a dropdown of all the users
  Then we can implement select2 so that it has that filtering feature %>
<h3> Invitation </h3>
  <%= simple_form_for [@event, @invitation] do |f| %>
    <%= f.text_field :user_id, label: 'Who are you looking for?' %>
    <%= f.input :content, placeholder: 'text' %>
    <%= f.submit "invite" %>
  <% end %>
</div>
