<div class="event-show" >
  <div class="slider mb-4">
    <h1><%= @event.name %><h1>
  </div>


  <div class="wrapper" data-controller="show">
    <div class="close-btn hidden" data-show-target="close" data-action="click->show#close">X</div>
    <div class="tab" data-show-target="tab" data-action="click->show#open">
      <div class="d-flex justify-content-between">
        <h3>Chat</h3><span>Sven, Rosa, Me...</span>
      </div>
      <div class = "chat hidden" data-show-target="content" >
        <%= render 'shared/chat', :locals => { :event => @event, :invitation => @invitation, :message => @message } %>
      </div>
    </div>
  </div>


  <div class="wrapper" data-controller="flight">
    <div class="close-btn hidden" data-flight-target="close" data-action="click->flight#close">X</div>
    <div class="tab" data-flight-target="tab" data-action="click->flight#open">
      <div class="d-flex justify-content-between">
        <h3>Flight</h3><span></span>
        </div>
        <div class = "flight hidden" data-flight-target="content" >
          <%= render 'shared/flight', :locals => { :event => @event } %>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper" data-controller="hotel">
    <div class="close-btn hidden" data-hotel-target="close" data-action="click->hotel#close">X</div>
    <div class="tab" data-flight-target="tab" data-action="click->hotel#open">
      <div class="d-flex justify-content-between">
        <h3>Hotel</h3><span></span>
        </div>
        <div class = "hotel hidden" data-hotel-target="content" >
          <%= render 'shared/hotel', :locals => { :event => @event } %>
        </div>
      </div>
    </div>
  </div>

  <div class="tab">
    <h3>Driver</h3><span></span>
  </div>


  <div class = "overview hidden">
    <%= render 'shared/overview', :locals => { :event => @event } %>
  </div>


</div>
