<div class="container">
  <h1>invitations</h1>

  <div class="card-grid tab">
    <% @invitations.each do |invitation| %>
      <h1><%= invitation.event.user.name %></h1>
      <h1><%= invitation.event.name %></h1>
      <h1><%= invitation.content %></h1>
      <h1>Status:
        <span>
          <% if invitation.status.nil? %>
            <span class="pending">Pending</span>
          <% elsif invitation.status %>
            <span class="status">Approved</span>
          <% else %>
            <span class="declined">Declined</span>
          <% end %>
        </span>
      </h1>
      <div>
        <% if invitation.status.nil? %>
          <%= link_to "Approve", event_invitation_path(invitation.event, invitation, status: true), method: :patch %>
          <%= link_to "Decline", event_invitation_path(invitation.event, invitation, status: false), method: :patch %>
        <% end %>
        <%= link_to "Delete", event_invitation_path(invitation.event, invitation), method: :delete %>
      </div>
    <% end %>
  </div>
</div>
