<div class = "container">
  <h1>invitations</h1>
  <div>
    <div>
      <% @invitations.each do |invitation| %>
        <h2><%= invitation.event.name %></h2>
        <h3><%= invitation.event.user.name %></h3>
        <span><%= invitation.content %></span>
      <span>Status:
          <% if invitation.status.nil? %>
            <span class="pending">Pending</span>
          <% elsif invitation.status %>
            <span class="status">Approved</span>
          <% else %>
            <span class="declined">Declined</span>
          <% end %>
        </span>
      </h1>
      <div>
        <% if invitation.status.nil? %>
          <%= link_to "Approve", event_invitation_path(invitation.event, invitation, status: true), method: :patch %>
          <%= link_to "Decline", event_invitation_path(invitation.event, invitation, status: false), method: :patch %>
        <% end %>
        <%= link_to "Delete", event_invitation_path(invitation.event, invitation), method: :delete %>
      </div>
        <% end %>
  </div>
</div>
