<div>
  <div class = 'title'>
    <h1>Hello <span><%= current_user.name %></span>, we love you.</h1>
  </div>

  <div class="tabs">
    <%= link_to "My events", dashboards_path(page: 'events') %>
    <%= link_to "My invitations", invitations_path(page: 'invitations') %>
  </div>
</div>

<div>
  <div class="calender" data-calendar-target="calendarr">
      <%= render 'dashboards/invitation' %>
  </div>
  <div class="list hidden" data-calendar-target="list">
      <%= render 'dashboards/invitation'%>
  </div>
</div>


  <%# <div class="wrapper" data-controller="dashboard-invitation">
    <div class="close-btn mt-2 hidden" data-dashboard-invitation-target="close" data-action="click->dashboard-invitation#close">X</div>
    <div class="tab" data-dashboard-invitation-target="tab" data-action="click->dashboard-invitation#open">
      <div class="d-flex justify-content-between">
        <h3>Your invitations</h3>
      </div>
      <div class = "dashboard-invitation hidden" data-dashboard-invitation-target="content" >
        <%= render 'dashboards/invitation', :locals => { :event => @event } %>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
